body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background: url(/images/alam.jpg) center/cover no-repeat;
    color:black;
    text-align: center;
    padding: 4rem 0;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    background: blue;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.review {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.ulasan {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.destinasion {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.container {
    margin-top: 20px;
}

h2 {
    color: #007bff;
}

iframe {
    width: 100%;
    height: 315px;
}

p {
    margin-bottom: 10px;
}

.col-md-6 {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.col-md-6:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}